<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <webHttpBinding>
        <binding name="EnlaseHTTPRest" 
                 closeTimeout="00:10:00"           
                 crossDomainScriptAccessEnabled="true">          
        </binding>
      </webHttpBinding>
    </bindings>
      
    <services>
      <service name="Sistema.Analisis.Planificacion.Implementacion.SensoresService" behaviorConfiguration="serviceBehaviors">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Sistema.Analisis.Planificacion.Contrato.ISensoresService"
                  bindingConfiguration="EnlaseHTTPRest"
                  behaviorConfiguration="webRest"></endpoint>
      </service>
    </services>
          
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="webRest">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="serviceBehaviors">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="WebDAV"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVmodule"/>
    </modules>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
